PORT=
DB_URL=postgresql://user:password@localhost:5432/vulcandbNATS_URL=nats://localhost:4222
WORKER_CAPACITY_RPS=100
WORKER_BINARY_PATH=./worker
VULCAN_PROJECT_ROOT=.
CONTROL_PLANE_URL=http://localhost:8080
